# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Lint Project Files

on:
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  lint:
    name: Lint NormJS
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16.6.0

      - name: Install dependencies
        run: npm install

      - name: Run Eslint
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
          eslint_extensions: ts
          continue_on_error: false
          check_name: "${linter} ${dir}"
